{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-8 news-content">
            {{ news.text|safe }}
        </div>
        <div class="col-4">
            <h2>Прогноз погоды</h2>
            {% if weather_list %}
            <h3>На {{ weather_list[0].observation_time }}</h3>
            {% for weather in weather_list %}
            {% if weather %}
                <p>{{ weather.city}}: {{ weather.temp_C }}, ощущается как {{ weather.feels_like }}</br>
                    ветер {{ (weather.windspeedKmph*1000/3600)|int}} м/сек
                </p>
            {% else %}
                Сервис погоды временно недоступен
            {% endif %}  
            {% endfor %}
            {% endif %}
            <button type="button" class="btn btn-primary"></button>Главный</button>                                       
        </div>
    </div>
{% endblock %}